<launch>
  <param name="initial_package" type="string" value="poke_position_calculation" />
 
  <node name="json_prolog_node" pkg="json_prolog" type="json_prolog_node" cwd="node" output="screen" />
  <node name="poke_position_service" pkg="poke_position_calculation" type="poke_position_service" output="screen" />
</launch>
