<launch>

  <arg name="ROBOT_INITIAL_JOINTS" default="
    -J l_elbow_flex_joint -1.4347
    -J l_forearm_roll_joint 1.6943
    -J l_shoulder_lift_joint -0.3536
    -J l_shoulder_pan_joint 1.5
    -J l_upper_arm_roll_joint -0.0815
    -J l_wrist_flex_joint -0.1
    -J l_wrist_roll_joint 0
    -J r_elbow_flex_joint -1.335
    -J r_forearm_roll_joint -1.5531
    -J r_shoulder_lift_joint -0.3536
    -J r_shoulder_pan_joint -1.5
    -J r_upper_arm_roll_joint 0.0073
    -J r_wrist_flex_joint -0.1
    -J r_wrist_roll_joint 0"/>

  <!--Include description and control launch files-->
  <include file="$(find training_data_generator)/launch/robot_description.launch"/>
 
  <!-- default bringup script -->
  <include file="$(find pr2_gazebo)/launch/pr2_bringup.launch" />

  <!-- Load and Start Default Controllers -->
  <include file="$(find pr2_controller_configuration_gazebo)/launch/pr2_default_controllers.launch" />

  <!--Launch a gazebo world-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <!--spawn the pr2 in gazebo world-->
  <node name="spawn_pr2_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
  args="$(arg ROBOT_INITIAL_JOINTS) -urdf -param robot_description -x 0 -y 0 -z 0 -R 0 -P 0 -Y 0 -model pr2"/>

  <!-- The feature extractor node -->
  <node name="feature_extractor" pkg="training_data_generator" type="feature_extractor" respawn="false"/>



  <!-- <node name="spawn_beer" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
  args="-x 0.5 -y 0.0 -z 1.0 -file $(find training_data_generator)/models/beer/model.sdf -sdf -model beer"/> -->

</launch>