<launch>
    <param name="initial_package" type="string" value="knowledge" />
 
    <node name="json_prolog_node" pkg="json_prolog" type="json_prolog_node" cwd="node" output="screen" />
   
    <node name="svm_classifier" pkg="svm_classifier" type="svm_classifier.py" output="screen" />
    <node name="beliefstate" pkg="beliefstate" type="beliefstate.py" output="screen" />
    <node name="storage_place_service" pkg="storage_place" type="storage_place_service" output="screen" />
    <node name="knowledge_grasp" pkg="knowledge_grasp" type="knowledge_grasp_service" output="screen" />
    <include file="$(find kitchen_model_export)/launch/knowledge_export_service.launch" />
</launch>
