<launch>
    <param name="initial_package" type="string" value="kitchen_model_export" />
 
    <node name="json_prolog_node" pkg="json_prolog" type="json_prolog_node" cwd="node" output="screen" />
     <node name="kitchen_model_service" pkg="kitchen_model_export" type="kitchen_model_service" output="screen" />
</launch>